/.idea/
/.libs/
/.vscode/
/autom4te.cache/
/build/
/cmake-*/
/modules/
/run-php/
/tests/*
!/tests/*.phpt

.deps
acinclude.m4
aclocal.m4
config.h
config.log
config.nice
config.status
config.guess
config.h.in
config.sub
configure
configure.ac
configure.in
install-sh
libtool
ltmain.sh
Makefile
Makefile.*
!Makefile.frag
missing
mkinstalldirs
php_test_results_*.txt
run-tests.php
*~
*.la
*.lo