/.idea/
/.libs/
/.vscode/
/autom4te.cache/
/build/
/cmake-*/
/modules/
/run-php/
/tests/*/*.diff
/tests/*/*.exp
/tests/*/*.log
/tests/*/*.out
/tests/*/*.php
/tests/*/*.sh

.deps
acinclude.m4
aclocal.m4
config.h
config.log
config.nice
config.status
config.guess
config.h.in
config.sub
configure
configure.ac
configure.in
install-sh
libtool
ltmain.sh
Makefile
Makefile.*
!Makefile.frag
missing
mkinstalldirs
php_test_results_*.txt
run-tests.php
tmp-php.ini

*.cbp
*.dep
*.la
*.lo
*.opensdf
*.sdf
*.sln
*.swp
*.v11.suo
*.vcxproj
*.vcxproj.filters
*~
